.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #fff;
  }
}
