* {
  box-sizing: border-box;
}

body {
  // background-color: #a1b2c3;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'source-code-pro', 'sans-serif';
  font-weight: 400;
  // color: #fff;
}

.counter {
  border: 3px solid green;
}

a {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
